.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.calc-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.digits {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}
.operators {
  display: grid;
}
.keypad {
  display: flex;
}
.billboard {
  font-size: 3em;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--theme-text-color);
  background-color: var(--theme-page-button);
  transition: all 0.3s ease-in;
  padding: 0.5rem 0.75rem;
  min-height: 4.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
  &.number {
    color: var(--theme-text-color);
    background-color: var(--theme-page-button);
    &:hover {
      background-color: var(--theme-page-button-hover);
    }
  }
  &.operator {
    font-weight: bold;
    background-color: var(--theme-operator-button);
    color: var(--theme-text-color);
    &:hover {
      background-color: var(--theme-operator-button-hover) !important;
    }
  }
}

.scientific_buttons {
  display: none;
  &.visible {
    display: flex;
  }
}
